*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 40%;
    margin-inline: auto;
    margin-block: 20px;
    padding: 10px;
    font-family: sans-serif;
}

.container .header{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
}

.header .search{
    width: 50%;
    flex: 1;
}

.search input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid lightblue;
    outline: none;
}

.btn-search button{
    padding: 10px;
    border-radius: 5px;
    border:none;
    font-size: 16px;
    width: 120px;
    background-color: rgba(78, 226, 78, 0.658);
    cursor: pointer;
    
}

.btn-search button:hover{
    background-color: rgba(98, 226, 98, 0.911)
}

.post{
    border: 1px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.post>*{
    padding: 0 10px;
}
.header-info{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 10px;
}

.username {
    font-size: 14px;
}

.avatar-img img{
    width: 40px ;
    height: 40px;
    border-radius: 50%;
}

.big-img img{
    width: 100%;
    height: auto;
}

.like svg{
    width: 30px;
 margin-bottom: 3px;
 
}

.like svg#red{
    width: 30px;
 margin-bottom: 3px;
 color: rgb(235, 49, 49);
}

#icon{
    cursor: pointer;
}

#likes{
    margin-bottom: 8px;
    font-weight: bold
}

h2{
  font-size: 16px
}

#likes span{
    font-weight: 200;
}


#user{
    font-weight: bold;
}

#description{
    font-weight: 100;
    
}